.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
    border: 1px solid black;
}

.tooltip-date,
.tooltip-likes {
    font-weight: bold;
}