.landmark-box{
    min-height: calc(100vh - 80px);
    flex-wrap: nowrap;
    padding-right: 15px;
}

.landmark-box .right-area{
    width: 100%;
    height: auto;
    overflow: hidden;
    flex: auto!important;
}