@import '../scss/variables.scss';

@mixin cl-btn ( $button-bg, $button-hover, $border-hover-color, $border-color: $cl-primary ){
    background: $button-bg;
    font-size: $cl-base-font;
    //font-family: $cl-primary-font-regular;
    color: $cl-white;
    border-radius: 0;    
    padding: 0 1.6rem;
    height: 3.6rem;
    border: 1px solid $border-color;
    outline: none !important;
    //min-width: 15rem;
    &:hover{
        background: $button-hover;
        color: $cl-white;    
        border: 1px solid $border-hover-color;  
        box-shadow: $cl-btn-hover-shadow;  
        @content;
    }    
}