@import "../scss/variables.scss";
@import "../scss/mixins.scss";
@import "../scss/header.scss";
@import "../scss/sidebar.scss";
@import "../scss/location.scss";
@import "../scss/report.scss";
@import "../scss/color.scss";
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

//Buttons//
.cl-btn {
    min-width: 15rem;
}

.cl-btn-small {
    min-width: 10rem;
    border-radius: 0.5rem !important;
}

.cl-btn-primary {
    @include cl-btn($cl-primary, $cl-primary-darker, $cl-primary-darker, $cl-primary);
    &:hover {
        box-shadow: none;
    }
}

.cl-btn-secondary {
    @include cl-btn($cl-secondary, $cl-secondary-dark, $cl-secondary-dark, $cl-secondary);
}

.cl-btn-tartiary {
    @include cl-btn($cl-primary-dark, $cl-primary-darker, $cl-primary-darker, $cl-primary-dark);
    &:hover {
        box-shadow: none;
    }
}

.cl-btn-supporting-1 {
    @include cl-btn($cl-supporting1, $cl-supporting1-dark, $cl-supporting1-dark, $cl-supporting1);
}

.cl-btn-supporting-2 {
    @include cl-btn($cl-supporting2, $cl-supporting2-dark, $cl-supporting2-dark, $cl-supporting2);
}

.cl-btn-gray {
    @include cl-btn($cl-gray, $cl-gray-dark, $cl-gray-dark, $cl-gray);
}

.cl-btn-outline {
    @include cl-btn(transparent, $cl-gray-dark, $cl-gray-dark, $cl-gray);
    color: $cl-gray;
}

.cl-white {
    color: $cl-white;
}

.cl-red {
    background: $cl-red;
}

.cl-blue {
    background: #3a9de3;
}

.cl-green {
    background: #4caf50;
}

.cl-yellow {
    background: $cl-supporting1;
}

.login-bg-image {
    background-image: url(../images/loginbg.svg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.logoimage {
    background-image: url(../images/logoimg.svg);
    height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
}

.login-container {
    padding: 15rem 18rem;
    .button-container {
        margin-top: 5rem;
    }
}

.grey-text {
    color: $cl-grey-text;
}

.form-group {
    input.form-control {
        outline: none;
        border-radius: 0;
        font-size: 1.4rem;
        border: none;
        border-bottom: 1px solid $cl-gray-light;
        &:focus {
            box-shadow: none;
        }
    }
}

.Admin-heading {
    font-size: 6rem;
    color: #24204b;
    margin: 15rem 0rem 0rem;
}

.star_dashboard-logo {
    width: 52rem;
}

// Dropdown styling for all pages except header
.dropdown {
    &-menu {
        background-color: $cl-dropdown-bg;
    }
    button {
        font-size: 1.6rem;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: transparent;
        color: $cl-white;
        padding: 0.5rem 1.5rem;
        .user-icon {
            font-size: 2rem;
        }
    }
    button.dropdown-item {
        font-size: 1.4rem;
        &:hover {
            background-color: $cl-dropdown-hover-bg;
            color: $cl-primary-darkest;
        }
    }
    .btn-secondary:focus {
        box-shadow: none !important;
        background: none !important;
    }
}

.input-group {
    background: $cl-primary-dark;
    input.form-control {
        outline: none;
        border-radius: 0;
        font-size: 1.6rem;
        border: none;
        border: none;
        color: $cl-white;
        padding: 0.8rem;
        background: $cl-primary-dark;
        &:focus {
            box-shadow: none;
            background: transparent;
        }
        &::placeholder {
            color: $cl-white;
        }
    }
    .input-group-prepend {
        .input-group-text {
            border-radius: 0;
            background: transparent;
            border: none;
            color: $cl-white;
            font-size: 1.6rem;
            padding: 0.375rem 1.5rem;
        }
    }
}

.btn-anchor {
    color: $cl-tartiary;
    border: none;
    background: transparent;
}

.card-chart {
    background: $cl-primary-darker;
    min-height: 25rem;
}

.user-pic {
    background-color: $cl-gray-light;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        object-fit: cover;
    }
}

.users-card {
    background-color: $cl-primary-darker;
    border-radius: 0.8rem;
}

.user-content {
    color: $cl-gray-lighter;
}

li.page-item {
    margin: 0 0.2rem;
}

.page-link {
    background-color: $cl-gray;
    color: $cl-white;
    border: 1px solid $cl-gray;
}

input.form-control {
    padding: 1rem 0.8rem;
    font-size: 1.4rem;
}

#map>div>div {
    width: 97.2% !important;
    height: 90% !important;
    margin: 1rem 0;
}

.light-card-bg {
    background: $cl-primary-darker;
    border-radius: 0 0 6px 6px;
    p {
        font-size: 1.4rem;
    }
}

.table {
    margin-bottom: 0;
    td {
        font-size: 1.4rem;
    }
}

.table th,
.table td {
    padding: 1rem 2rem 1rem 2rem;
    text-align: left;
}

.table-dark {
    thead {
        background: $cl-primary-dark;
        th {
            border-bottom: 1px solid $cl-primary-dark;
        }
    }
    tbody {
        .small-shell {
            width: 15rem;
        }
        background: $cl-primary-darker;
        th,
        td {
            border-bottom: 0.1rem solid #43425d;
        }
        input {
            height: 26px;
        }
    }
}

.custom-d-dropdown {
    .dropdown-menu {
        font-size: 1.4rem;
    }
}

button.custom-toast-menu {
    background: transparent;
    border: none;
    color: $cl-white;
    i {
        font-size: 2rem;
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
    &::after {
        display: none;
    }
}

.cardbox {
    background: #014a59;
    font-size: $cl-font-14;
}

.filter-heading {
    background: $cl-primary-darker;
    border-radius: 6px 6px 0 0;
}

.filter-icon-size {
    font-size: 2.2rem;
}

.filter-block {
    background: $cl-primary-dark;
    padding-top: 2rem;
    border-radius: 0 0 6px 6px;
    .select-dropdown {
        margin-bottom: 1rem;
        select.form-control {
            font-size: 1.4rem;
            height: 3.5rem;
            background: transparent;
            border: none;
            color: $cl-white;
            border-radius: 0;
            border-bottom: 1px solid #43425d;
            option {
                color: $cl-black;
            }
            &:focus {
                box-shadow: none;
            }
        }
    }
    .button-block {
        justify-content: center;
        button {
            font-size: 1.4rem;
            min-width: 14rem;
            background: #24204b;
            border: 1px solid #24204b;
            cursor: pointer;
            &.cl-btn-outline {
                color: $cl-white !important;
                border: 1px solid $cl-white !important;
                background: transparent;
                &:hover {
                    color: $cl-white;
                    border: 1px solid $cl-white;
                    background: transparent;
                }
            }
        }
    }
}

.dd-style {
    .select-dropdown {
        margin-bottom: 1rem;
        select.form-control {
            font-size: 1.4rem;
            height: 3.5rem;
            background: transparent;
            border: none;
            color: $cl-white;
            border-radius: 0;
            border-bottom: 1px solid #43425d;
            option {
                color: $cl-black;
            }
            &:focus {
                box-shadow: none;
            }
        }
    }
}

.pagingnation-list ul li {
    padding: 3px 10px;
    margin-left: 5px !important;
}

.pagingnation-list ul li a:hover {
    text-decoration: none !important;
}

.pagingnation-list ul li.selected {
    padding: 3px 10px !important;
}

.pagingnation-list li.previous,
.pagingnation-list li.next {
    font-size: 2rem !important;
    font-weight: bold;
}

.colored-heading h3 {
    background: #393374;
    border-radius: 6px 6px 0px 0px;
    padding: 10px;
}

.ap-filter {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 40rem;
    height: 100vh;
    background: #393374;
    transition-duration: 0.4s;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.square_click {
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -4rem;
    top: 30rem;
    background-color: #393374;
    z-index: 2;
    border-radius: 6px 0px 0px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    i {
        animation: rotating 2s linear infinite;
    }
}

.my-class {
    right: -400px;
    transition-duration: 0.4s;
}

// @keyframes mymove {
//     from {right: -200px;}
//     to {right: 0;}
// }
button {
    position: relative;
    border: none;
    font-size: 28px;
    color: #ffffff;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:after {
    content: "";
    background: #393374;
    display: block;
    position: absolute;
    // padding-top: 300%;
    // padding-left: 350%;
    // margin-left: -20px!important;
    // margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.table-icon-cell {
    width: 8rem;
}

.dashboard-sidebar {
    position: absolute;
    left: -315px;
    transition: all 0.8s;
}

.side-card {
    background: #393374;
    border-radius: 5px;
    p {
        font-size: $cl-font-12;
        margin: 0;
    }
    .side-card-level {
        width: 12rem;
    }
    label {
        margin: 0;
        border-radius: 1rem;
        padding: 0.2rem;
        width: 8rem;
        font-size: 1.2rem;
        text-align: center;
    }
    &.trip-replay {
        span {
            cursor: pointer;
        }
    }
}

.progress-path {
    background: #ddd;
    height: 0.4rem;
}

.noheight-wrapper {
    height: inherit;
    margin-bottom: 1rem;
}

.maparea-container {
    height: 70rem;
    border: 1px solid #fff;
    position: relative;
}

.craftAnalitic-detail {
    border: 1px solid #3498db;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 60rem;
    justify-content: space-around;
    z-index: 2;
    background: #24204b;
    .loader-circle {
        border: 0.5rem solid #f3f3f3;
        border-radius: 50%;
        border-top: 0.5rem solid #3498db;
        border-right: 0.5rem solid #3498db;
        border-bottom: 0.5rem solid #3498db;
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
        &.yellow-circle {
            border-top: 0.5rem solid $cl-supporting1;
            border-right: 0.5rem solid $cl-supporting1;
            border-bottom: 0.5rem solid $cl-supporting1;
        }
        &.green-circle {
            border-top: 0.5rem solid #4caf50;
            border-right: 0.5rem solid #4caf50;
            border-bottom: 0.5rem solid #4caf50;
        }
    }
    .leftBox-area {
        justify-content: space-between;
        padding-right: 2rem;
        color: #ffffff;
        width: 92%;
        border-right: 1px solid #3498db;
        h2 {
            margin: 0;
            text-align: left;
            span {
                font-size: 12px;
                text-align: left;
                font-weight: 100;
            }
        }
    }
}

.charting-window {
    background-color: #24204b;
    border-radius: 0.8rem;
    margin-bottom: 10rem;
    position: relative;
    .Charting-detail-width {
        width: 40%;
    }
    h1 {
        span {
            font-size: 1.4rem;
            font-weight: 100;
        }
    }
}

.addArea-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    padding: 1.5rem;
    border-radius: 0.8rem;
    background: #24204b;
    text-align: left;
    z-index: 2;
    h2 {
        margin: 0;
    }
}

input[type="text"] {
    //   background: #393374; // commented by dharmesh
    background: #fff;
    border: none;
    width: 100%;
}

.btn {
    &.btn-primary {
        font-size: 1.4rem;
    }
}

.plus-icon-position {
    position: absolute;
    z-index: 2;
    top: 34px;
    right: 20px;
    background: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb {
    background-color: transparent;
    .breadcrumb-item {
        &.active {
            color: #ccc;
        }
    }
}

.heading-bg {
    text-align: left;
    background-color: #24204b;
    border-radius: 0.5rem;
    color: $cl-white;
}

input.small-input-box {
    background: #fff;
    height: 36px;
    width: 20rem;
}

.info-light-bg {
    background: #ccc;
    border-radius: 0 0 0.5rem 0.5rem;
    h3 {
        width: 12rem;
        text-align: left;
    }
}

.check-items-block {
    background: #43425d;
    padding: 0.5rem;
    border-radius: 0.5rem;
    min-width: 16rem;
    margin-right: 0.5rem;
    margin-bottom: 5px;
}

.custom-dark-table {
    select.select-dropdown.form-control {
        height: 26px !important;
        font-size: 1.6rem;
        width: 5rem;
        padding: 0;
    }
    .cl-btn {
        height: 2.7rem;
        min-width: 6rem;
        border-radius: 0.2rem;
    }
    .edit-heading {
        font-size: 16px;
    }
}

button.btn.white-btn {
    background: #fff;
}

.scrollableArea {
    height: 18rem;
    overflow-y: scroll;
}

.check-items-block.selection-list {
    border-radius: 0;
    margin-right: 0;
    margin-bottom: 1px;
}

ul.list {
    margin: 0;
    padding: 0;
    li {}
}

div * {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: none !important;
        background-color: transparent;
    }
     ::-webkit-scrollbar {
        width: 3px !important;
        background-color: transparent;
    }
     ::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

.modal-edited {
    .modal-header {
        background-color: #24204b;
        border-radius: 0;
        h5 {
            color: #fff;
            font-size: 1.6rem;
        }
        button {
            color: #fff;
        }
    }
    .modal-body {
        .stepper {
            width: 100%;
            font-size: 1.6rem;
            border-bottom: 4px solid #eee;
            padding-bottom: 1rem;
            &:not(:last-child) {
                margin-right: 0.5rem;
            }
            &.active {
                border-color: $cl-green;
            }
        }
        .selected-asset {
            background-color: #ddd;
            padding: 1rem 1.5rem;
            text-align: left;
        }
        .assets-area {
            p {
                margin: 0;
                text-align: left;
            }
            .asset-box {
                border: 1px solid #ccc;
                height: 12rem;
                overflow-y: scroll;
                .search-box {
                    background-color: #ddd;
                    .small-input-box {
                        height: 3rem;
                    }
                }
            }
        }
    }
}

button.cl-btn-grey {
    border-radius: 0.4rem;
    min-width: 6rem;
    color: #333;
    font-size: 1.2rem;
    &:hover {
        background: #24204b;
        color: #fff;
    }
}

select.form-control.head-dropdown {
    height: 3.4rem !important;
    border-radius: 0;
    font-size: 1.4rem;
}

//Test
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 3px 0 3px 3px;
    border-left-color: #ccc;
    margin-top: 11px;
    margin-right: -8px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-toggle::after {
    display: none;
}

//Media queries// don't write any css below this line.
@media screen and (max-width: 1680px) {
    .login-container {
        padding: 15rem 10rem;
        .button-container {
            margin-top: 5rem;
        }
    }
}

@media screen and (max-width: 1366px) {
    html {
        font-size: 56%;
    }
    .login-container {
        padding: 15rem 6rem;
        .button-container {
            margin-top: 5rem;
        }
    }
    .cl-btn {
        min-width: 12rem;
    }
    .my-class {
        right: -360px;
        transition-duration: 0.4s;
    }
}

@media screen and (max-width: 992px) {
    .login-container {
        padding: 12rem 2rem;
        .button-container {
            margin-top: 5rem;
        }
    }
    .cl-btn {
        min-width: 10rem;
    }
}

@media screen and (max-width: 768px) {
    .login-container {
        padding: 12rem 10rem;
        .button-container {
            margin-top: 5rem;
        }
    }
    .cl-btn {
        min-width: 12rem;
    }
}

@media screen and (max-width: 576px) {
    .login-container {
        padding: 12rem 5rem;
        .button-container {
            margin-top: 5rem;
        }
    }
    .cl-btn {
        min-width: 10rem;
    }
}

.assets-list {
    background-image: url(../images/assets-list.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pagingnation-list ul {
    list-style: none;
}

.pagingnation-list ul li {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.pagingnation-list ul li.selected {
    background: #ddd;
    padding: 3px;
}

.pagingnation-list ul li a {
    color: #ffffff;
}

.pagingnation-list ul li.selected a {
    color: #171330;
}


/*-----------------------------Loader Start Here ---------------*/


/* Absolute Center Spinner */

.loading {
    position: fixed;
    z-index: 9999999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}


/* Transparent Overlay */

.loading:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
    background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
}


/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: "";
    //     display: block;
    //     font-size: 10px;
    //     width: 1em;
    //     height: 1em;
    //     margin-top: -0.5em;
    //     -webkit-animation: spinner 150ms infinite linear;
    //     -moz-animation: spinner 150ms infinite linear;
    //     -ms-animation: spinner 150ms infinite linear;
    //     -o-animation: spinner 150ms infinite linear;
    //     animation: spinner 150ms infinite linear;
    //     border-radius: 0.5em;
    //     -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
    //   box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

//  google map infowindow css start here
.gm-ui-hover-effect {
    display: none !important;
}

.gm-style-iw-c,
.gm-style-iw-d {
    background-color: #3498db !important;
    color: #fff;
    height: 110px;
    overflow: hidden !important;
}

.gm-style .gm-style-iw-t::after {
    background: #3498db !important;
}

// .customDatePickerWidth,
// .customDatePickerWidth > div.react-datepicker-wrapper,
// .customDatePickerWidth > div > div.react-datepicker__input-container
// .customDatePickerWidth > div > div.react-datepicker__input-container input {
//    width: 100%;
// }
// .datePicker, .react-datepicker-popper, .react-datepicker-popper {
//     width: 100% !important;
//     font-size: 100% !important;
// }
.react-datepicker {
    font-size: 1em !important;
}

.react-datepicker__header {
    padding-top: 0.8em !important;
}

.react-datepicker__month {
    margin: 0.4em 1em !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
    width: 1.9em !important;
    line-height: 1.9em !important;
    margin: 0.166em !important;
}

.react-datepicker__current-month {
    font-size: 1em !important;
}

.react-datepicker__navigation {
    top: 1em !important;
    line-height: 1.7em !important;
    border: 0.45em solid transparent !important;
}

.react-datepicker__navigation--previous {
    border-right-color: #ccc !important;
    top: 0.2em !important;
}

.react-datepicker__navigation--next {
    border-left-color: #ccc !important;
    right: 0em !important;
    left: 220px !important;
    top: 0.2em !important;
}

.react-datepicker__time-container {
    width: 6em !important;
}

.react-datepicker-time__header {
    font-size: 1em !important;
}

.react-datepicker-time__header--time {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.react-datepicker__time-box {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
}

.react-datepicker__time-list {
    padding: 0 !important;
}

.route-container {
    background: black;
    margin: 0 !important;
    color: white;
    font-size: 8px;
    border-bottom: 1px solid gray;
    cursor: pointer;
    .route-details {
        display: flex;
        flex-flow: column;
        overflow-wrap: break-word;
    }
}

.light-opacity-background {
    opacity: 0.7;
}

.route-list-container {
    max-height: 100px;
    overflow: auto;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 24px;
    border: 0;
    background: url(../images/airplane-icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 24px;
    border: 0;
    background: url(../images/airplane-icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.selected-trip {
    opacity: 0.7;
    border-bottom: 1px solid #f38d20;
    border-left: 1px solid #f38d20;
}

.header-flightId {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 29px;
    span {
        position: absolute;
        right: 0;
        color: red;
        cursor: pointer;
        z-index: 1;
    }
    span:hover {
        color: rgb(241, 115, 115);
    }
}

.table-tr th {
    border-right: 1px solid white !important;
}

.table-tr td {
    border-right: 1px solid white;
}

.mg-l-auto {
    margin-left: auto;
}

.icon-20 {
    width: 20px;
    height: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.padding-initial {
    padding: initial;
}

.bg-color-dark-blue {
    background-color: $cl-primary-darker;
}

.height-100 {
    height: 100px;
}

.fontsize-1 {
    font-size: 1.7rem;
}

.div-flex {
    display: flex;
    flex-flow: row wrap;
    width: 240px;
    overflow: auto;
}

.text-style-email {
    // width: 80%;
    border-radius: 25px;
    border: 1px solid Black;
    // padding: 15px 15px 15px 15px;
    // margin: 20px 20px 20px 20px;
    background: #a4d3ee;
    overflow: visible;
    // box-shadow: 5px 5px 2px #888888;
    position: relative;
    margin: 5px;
    height: fit-content;
}

#x {
    position: absolute;
    color: white;
    top: -8px;
    right: -5px;
    font-size: 10px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0px 2px 0px 2px;
    background-color: black;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker-delete-btn {
    text-align: center;
    padding-top: 10px;
}