.custom-card {
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    width: 100%;
    z-index: 999;
}

.custom-card-container {
    background: #2d285a;
    border-radius: 0.8rem;
    height: 0px;
    overflow: hidden;
    transition: height 1s;
}

.custom-card-container.show-top {
    height: 350px;
    transition: height 1s;
}

.custom-card-body {
    overflow: auto;
    height: 100%;
}

.custom-card-body .table td {
    border-top: none;
}

.custom-card-body .table th {
    border-bottom-width: 1px;
}

button:focus {
    box-shadow: none!important;
    outline: none!important;
}

.modal-right {
    position: absolute;
    right: 0;
    inset-block: 0;
    width: 0px;
    background: #2d285a;
    z-index: 99;
    height: calc(100vh - 80px);
    margin-top: 80px;
    transition: width 1s;
}

.modal-right.show-modal {
    width: 450px;
    transition: width 1s;
}

.modal-right .modal-right-content {
    overflow: hidden;
    color: #fff;
    text-align: left;
    padding-block: 20px;
}

.modal-right .modal-right-content .modal-right-body {
    max-height: calc(100vh - 70px);
    overflow: auto;
    width: 450px;
}

.modal-right .modal-right-content .modal-heading {
    padding-inline: 10px;
    margin-bottom: 10px;
    min-width: 450px;
}

.modal-right .modal-right-content .active-state {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 2px solid red;
    margin: 0px;
    padding-bottom: 6px;
}

.modal-btn {
    background: #24204b!important;
    border: none!important;
    box-shadow: none!important;
    width: 40px;
    height: 40px;
    padding: 0px;
}

.modal-right .modal-btn {
    position: absolute;
    left: -40px;
    border-radius: 5px 0px 0px 5px;
    top: 200px;
}

.map-card {
    border: 2px solid #171430;
}

.map-card .map-header {
    padding: 5px;
}

.map-card .map-body {
    width: 100%;
    height: 300px;
    background: #78c68d;
}

.modal-right .modal-right-content .modal-right-body .alert {
    border-radius: 0px;
}

.modal-right .modal-right-content .modal-right-body .alert .close {
    font-size: 20px;
}

.modal-message-top form {
    padding: 10px;
    font-size: 14px;
}

.modal-message-top form select,
.modal-message-top form textarea {
    font-size: 16px;
    height: auto!important;
}

.modal-message-bottom {
    background: #24204b;
    min-height: 300px;
    margin-top: 20px;
}

.modal-message-bottom span {
    text-align: center;
    display: block;
    font-style: italic;
    opacity: .5;
    padding-top: 20px;
}

.asset-list {
    border-radius: 0px;
    margin-inline: -1.5rem;
    max-height: calc(100vh - 230px);
    overflow: auto;
}

.asset-list .list-group-item {
    background: transparent;
    color: #cac5ff;
    border: none;
    border-bottom: 1.5px solid #171430;
}

.asset-list .list-group-item:last-child {
    border-bottom: none;
}

.asset-list .list-group-item:hover {
    background: #2f2a5c;
}

.asset-list .selectedAsset {
    background: #2f2a5c;
}

.asset-list .list-group-item:active {
    background: #2c2855;
}

.asset-list .list-row {
    display: flex;
    font-size: 13px;
    text-align: left;
    align-items: center;
}

.asset-list .list-row img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.asset-list .list-row h5 {
    margin-bottom: 3px;
}

.asset-list .list-row p {
    margin-bottom: 3px;
}

.asset-list .list-row .list-child-2 {
    max-width: calc(50% - 60px);
    width: 100%;
}

.asset-list .list-row .list-child-3 {
    width: 100%;
    max-width: 50%;
}

.noheight-wrapper-view {
    overflow: hidden;
}